<!DOCTYPE html> <!-- Kad naršyklė suprastų, kad čia bus HTML Failas -->
<html lang="en"> <!-- Kur prasideda html kodas -->
<head> <!-- ko naudotojas nemato, tačiau tarsi konfiguracija musu puslapiui -->
    <meta charset="UTF-8"> <!-- dar vienas tagas kuris is esmes reiskia priimk Lietuviu kalba na ir kitas utf-8 palaikancias kalbas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Super Svetaine</title> <!-- skirtuko pavadinimas -->
</head>
<body>  <!-- Tag -->
    <!-- Content goes here -->
</body>
</html> 